header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	border: 2px solid;
	border-color: #eb92b5;
	align-items: center;
	height: 120px;
}

.authorization {
	display: flex;
}

.nickname {
	padding: 0 20px;
	margin: 0;
}